{% extends "modal.html" %}

{% block upload %}

<div class="image-container">
    <div class="row">
        <div class="col-6 im-wrapper">
            <!--  default image where we will set the src via jquery-->
            <img id="image">
        </div>
        <div class="col-2"></div>
        <div class="col-4 preview-container">

            <div class="preview-cover">
                <div class="img-preview" style="height:25rem; width: 50rem"></div>
            </div>

        </div>
    </div>
    <div class="row side-control-page-2">
        <button class="col btn btn-primary m-3 ratio-btn">16:9</button>
        <button class="col btn btn-primary m-3 ratio-btn">4:3</button>
        <button class="col btn btn-primary m-3 ratio-btn">1:1</button>
        <button class="col btn btn-primary m-3 ratio-btn">2:3</button>
        <button class="col btn btn-primary m-3 ratio-btn">Free</button>
    </div>
</div>

{% endblock %}